<!-- Top Navigation Menu -->
<div class="topnav">
  <img src="../assets/img/Group 2.png" height="50px" />
  <!-- Navigation links (hidden by default) -->
  <div class="contentLinks">
    <div id="myLinks">
      <a ><h4>Kevin Agudelo</h4></a>
      <a routerLink="/create-message">Create Messages</a>
      <a routerLink="/my-messages">My Messages</a>
      <a routerLink="/all-messages">See all Messages</a>
      <a>Logout</a>
    </div>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->

  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <img src="../assets/icon/menu.png" class="icon-png" />
  </a>
</div>
