<div class="content-dark">
  <img class="img-head" src="../assets/img/Group 2.png" alt="" />

  <div class="first-content">
    <!-- <div class="media-luna"></div> -->
    <div class="content-seccion">
      <h2>Create a message to share width your friends.</h2>
      <h3>Create your first message following the first steps</h3>
      <div class="row">
        <img src="../assets/img/Fashion blogging-pana 2.png" alt="" />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum
          <br />
          minima vel eligendi, officia necessitatibus quo in quod earum sit<br />
          asperiores culpa ut possimus reiciendis dicta molestias! Dolorem<br />
          itaque ab similique!
        </p>
      </div>
      <div class="row">
        <img src="../assets/img/Connected world-pana 2.png" alt="" />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum
          <br />
          minima vel eligendi, officia necessitatibus quo in quod earum sit<br />
          asperiores culpa ut possimus reiciendis dicta molestias! Dolorem<br />
          itaque ab similique!
        </p>
      </div>
    </div>
    <!-- <div class="media-luna"></div> -->
  </div>
  <div class="content-seccion seccion-2">
    <h2>Create a message to share width your friends.</h2>
    <h3>Create your first message following the first steps</h3>
    <div class="row">
      <img src="../assets/img/Fashion blogging-pana 2.png" alt="" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum <br />
        minima vel eligendi, officia necessitatibus quo in quod earum sit<br />
        asperiores culpa ut possimus reiciendis dicta molestias! Dolorem<br />
        itaque ab similique!
      </p>
    </div>
    <div class="row">
      <img src="../assets/img/Connected world-pana 2.png" alt="" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum <br />
        minima vel eligendi, officia necessitatibus quo in quod earum sit<br />
        asperiores culpa ut possimus reiciendis dicta molestias! Dolorem<br />
        itaque ab similique!
      </p>
    </div>
  </div>
  <div class="section-container">
    <div class="code-sections">
      <img
        src="../assets/icon/pngwing 1.png"
        alt=""
        height="100px"
        width="100px"
      />
      <h2>
        Scan to download <br />
        IOS & Android
      </h2>
    </div>
  </div>
  <div>
    <div class="platform">
      <button class="btn-icon">
        <img src="../assets/icon/ri_app-store-fill.png" class="icon-png" />
      </button>
      <button class="btn-icon">
        <img src="../assets/icon/Frame 18.png" class="icon-png" />
      </button>
    </div>
    <div class="platform">
      <button class="btn-icon">
        <img src="../assets/icon/Vector.png" class="icon-png" />
      </button>
      <button class="btn-icon">
        <img
          src="../assets/icon/material-symbols_desktop-windows.png"
          class="icon-png"
        />
      </button>
    </div>
  </div>
  <div class="buttons-actions">
    <button routerLink="/register" class="sign-up-btn">Sing Up</button>
    <button routerLink="/login" class="login-btn">Log in</button>
  </div>
</div>

