input[type="text"] {
  font-size: 16px;
  padding: 0.4rem 0;
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  color: #6f6e6e;
  padding-left: 0.4rem;
  background-color: transparent;
  margin-top: 10px;
}

label,
h2 {
  color: #f9fd6d;
}

.form-group {
  margin-top: 20px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]:active {
  color: #6f6e6e;
}

input[type="text"]:focus + .highlight {
  animation: input-highlighter 0.3s ease;
}

input[type="text"]:focus ~ .bar:before,
input[type="text"]:focus ~ .bar:after {
  width: 50%;
}

.container {
  padding: 12px;
}

.full-container {
  background-color: #16202a;
  height: 100vh;
}

.btn {
  background-color: gainsboro;
  color: #16202a;
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: 10px;
  width: 120px;
  border-radius: 25px;
  margin-top: 20px;
}

.content-button{
  display: flex;
  justify-content: end;

}
